@import "./paletaDeColores";
/* Barra de Navegacion */
.navbar{
    margin:2px;
    .img-fluid{
        padding: 10px;
        width: 130px;
        }
    .navbar-light .navbar-toggler {
        border-color: #E6E6F5;
        }
    li a {
        font-family: 'Montserrat', sans-serif;
        color:#E6E6F5;
        font-size: 1.125rem;
        }
    }