@import "./paletaDeColores";
/* Barra de Navegacion */
.navbar{
    margin:2px;
    .img-fluid{
        height: 30px;
        margin: 2px;
        }
    .navbar-light .navbar-nav .nav-link{
        font-family: 'Montserrat', sans-serif;
        color: $blanco;
        font-size: 1.125rem;
        }
    .navbar-light .navbar-toggler {
        border-color: $blanco;
        }
    li a {
        color: $textos;
        }    
    }