@import "./paletaDeColores";
/* Barra de Navegacion */
.navbar{
    margin:2px;
    .img-fluid{
        padding: 10px;
        width: 130px;
        }
     .navbar-toggler .navbar-toggler-icon {
        border-color: $claro;
        background-color: transparent;

        }
    li a {
            font-family: 'Montserrat', sans-serif;
            color: $oscuro;
            font-size: 1.125rem;
            }
    a:visited {
            color: $blanco;
    }
    a:hover {
            color: $naranja;
          }    
    }