/* Barra de Navegacion */
.navbar {
  margin: 2px;
}

.navbar .img-fluid {
  padding: 10px;
  width: 130px;
}

.navbar .navbar-toggler .navbar-toggler-icon {
  border-color: #c7e5e8a8;
  background-color: transparent;
}

.navbar li a {
  font-family: 'Montserrat', sans-serif;
  color: #6c5050;
  font-size: 1.125rem;
}

.navbar a:visited {
  color: #f1f1f1;
}

.navbar a:hover {
  color: #CC5D2F;
}

/* Barra de Navegacion */
.navbar {
  margin: 2px;
}

.navbar .img-fluid {
  padding: 10px;
  width: 130px;
}

.navbar .navbar-toggler .navbar-toggler-icon {
  border-color: #c7e5e8a8;
  background-color: transparent;
}

.navbar li a {
  font-family: 'Montserrat', sans-serif;
  color: #6c5050;
  font-size: 1.125rem;
}

.navbar a:visited {
  color: #f1f1f1;
}

.navbar a:hover {
  color: #CC5D2F;
}

body {
  background-color: #D4C8BC;
}

h5 {
  font-family: 'Montserrat', sans-serif;
  color: #226051;
  margin-left: 10px;
  text-align: center;
}

.elValor {
  font-family: 'Cormorant Garamond', serif;
  font-size: 4em;
  line-height: 80%;
  color: #CC5D2F;
}

.textoValor {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  color: #596149;
}

.textoLand {
  margin-top: 0rem;
  margin-right: 4rem;
  padding-top: 0rem;
  padding-right: 2rem;
}

.textos2 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1em;
  color: #6c5050;
  margin-left: 10px;
}

/* FORMS */
.form-floating {
  width: 40%;
}

.aboutUS {
  margin: 90px;
}

.seccionDos {
  background-image: none;
}

.gridContainer1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(240px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-auto-rows: minmax(240px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
}

.gridItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tamImg {
  width: 100%;
  height: 100%;
}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.row {
  margin: 0 -5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 500px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #6c5050;
  background: #c7e5e8a8;
  width: 250px;
  position: relative;
  margin: 100px;
  overflow: hidden;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 20px rgba(34, 34, 34, 0.5);
          box-shadow: 3px 3px 20px rgba(34, 34, 34, 0.5);
  text-align: center;
  padding: 2em;
}

.presentacionCuidados {
  color: #CC5D2F;
  font-family: 'Cormorant Garamond', serif;
  font-size: 4em;
  text-align: left;
  margin-right: 15%;
  margin-top: 20%;
}

h5 {
  font-size: 1rem;
  line-height: 1.375;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #030929;
}

footer {
  background: #ebf4fa;
}

body {
  background-color: #D4C8BC;
}

.presentacionTitulo {
  color: #596149;
  font-family: 'Cormorant Garamond', serif;
  font-size: 4em;
  text-align: left;
  margin-right: 15%;
  margin-top: 20%;
}

.presentacionTexto {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: #6c5050;
  text-align: left;
}

.carruselContainer .botonUno {
  position: absolute;
  top: 80%;
  left: 20%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: transparent;
  color: white;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  border: solid #edf3f7 2px;
}

.carruselContainer .botonUno:hover {
  background-color: #c7e5e8a8;
}

.seccionDos {
  background-color: #E8E2DB;
}

.semiCirculo {
  position: relative;
  top: -47px;
}

.sectionDos {
  margin: 12.8% 0;
  display: -ms-grid;
  display: grid;
  place-items: right;
}

.light-container {
  background-color: #E6E6F5;
}

a:link {
  color: #6c5050;
}

a:visited {
  color: #c7e5e8a8;
}

.imagenBack {
  position: absolute;
  width: 341px;
  height: 497px;
  left: 743px;
  top: 144px;
}
/*# sourceMappingURL=estilos.css.map */