@import "paletaDeColores";
@import "header";
@import "paginas";

body{
    background-color: $fondo;
}
.presentacionTitulo {
    color: #596149;
    font-family: 'Cormorant Garamond', serif;
    font-size: 4em;
    margin-top: 5%;
  }
.presentacionTexto {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: #6c5050;
  }
.carruselContainer .botonUno {
    position: absolute;
    top: 80%;
    left: 20%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: white;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    border: solid #edf3f7 2px;
    }
.carruselContainer .botonUno:hover {
    background-color: #c7e5e8a8;
  }
.seccionDos{
    background-color: #E8E2DB;
}
.semiCirculo{
position: relative;
top: -47px;
}
.sectionDos{
    margin: 12.8% 0;
    display: grid;
    place-items: right;
}
.light-container{
    background-color:$textos;
}
a:link{
    color: $oscuro;
}
a:visited {
    color: $claro;
}
.imagenBack{
    position: absolute;
    width: 341px;
    height: 497px;
    left: 743px;
    top: 144px;
}
.accordion-button{
    font-family: 'Montserrat', sans-serif; 
    font-weight: bold;
    font-size: 3em;
    color: $oscuro;
    border-color: $oscuro;
    background-color: transparent;
}